NEXT_PUBLIC_APP_URL="http://localhost:3000"

AUTH_SECRET=10ed13a7bd8d1c97902590d756d29c88
NEXTAUTH_URL=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
PORT=2001

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"